header {
    background: darkgray;
    width: auto;
    height: 20px;
}
.firstLine{
    color: white;
    margin-top: auto;
    font-weight: bold;
    text-align: right;
}
.sign{
    font-size: 18px;
    margin-right: 750px;
    vertical-align: top;
}
.myAccount{
    font-size: 18px;
    margin-right: 625px;
    margin-top: -20px;
    text-align: right;
}
.order{
    font-size: 18px;
    margin-right: 530px;
    margin-top: -21px;
    text-align: right;
}
.status{
    font-size: 18px;
    margin-right:440px;
    margin-top: -21px;
}
.help{
    font-size: 18px;
    margin-right:370px;
    margin-top: -22px;
}
.search{
    width: 450px;
    height: 60px;
    background-color: darkgreen;
    margin-top: 60px;
    margin-left: 600px;
    text-align: right;
    font-weight: bold;
    font-size: 40px;
    color: white;
}
.line {
    background-color: white;
    width: 300px;
    height: 40px;
    margin-top: -50px;
    margin-left: 610px;
}
.logo{
    margin-left: 380px;
    margin-top: -65px;
}